{:paths ["swarmforge/scripts" "test"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        babashka/fs {:mvn/version "0.5.27"}
        babashka/process {:mvn/version "0.6.25"}}
 :aliases
 {:cov {:extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
        :main-opts ["-m" "cloverage.coverage"
                    "-p" "swarmforge/scripts"
                    "-s" "test"
                    "--lcov"
                    "--no-html"
                    "--no-text"
                    "--no-emma-xml"
                    "--test-ns-regex" "swarmforge.script-non-sim-coverage-test"]}}}
